<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727255307436-b8cqmu9r3jh0ivdiqasjfu0e39bkvieb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727255307436-b8cqmu9r3jh0ivdiqasjfu0e39bkvieb</string>
	<key>API_KEY</key>
	<string>AIzaSyAtu9N02U77dY59ieoJQYNdtnG_i-4rvqE</string>
	<key>GCM_SENDER_ID</key>
	<string>727255307436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-19c69</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-19c69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727255307436:ios:bcef544ceae71affa17b09</string>
</dict>
</plist>